{% extends 'base.html' %}

{% block title %}Edit Post{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}
<form action="/posts/{{post.id}}/edit" method="POST">

  <label for="title">Title:</label>
  <input type="text" id="title" name="title" placeholder="{{post.title}}"><br><br>

  <label for="content">content:</label>
  <input type="text" id="content" name="content" placeholder="{{post.content}}"><br><br>

  {% for tag in tags %}
    <input type="checkbox" id="tag_{{ tag.id }}" name="tags" value="{{ tag.id }}">
    <label for="tag_{{ tag.id }}">{{ tag.name }}</label><br>
  {% endfor %}

  <button type="submit">Edit Post</button>
</form>
{% endblock %}
