{% extends 'base.html' %}

{% block title %}New Post{% endblock %}

{% block content_title %}Add post for {{user.first_name}} {{user.last_name}}{% endblock %}

{% block content %}
<form action="/users/{{user.id}}/posts/new" method="POST">
  <label for="title">Title:</label>
  <input type="text" id="title" name="title"><br><br>

  <label for="content">Content:</label>
  <input type="text" id="content" name="content"><br><br>

  <button type="cancel">Cancel</button>
  <button type="submit">Add</button>
</form>
{% endblock %}
