{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content_title %}
  <h1>{{post.title}}</h1> 
  <br><br>
  {{post.content}}
  <br><br>
  
  by <a href="/users/{{ post.user_id }}">{{ post.user.first_name }} {{ post.user.last_name }}</a>
  
  <form action="/posts/{{ post.id }}/delete" method="POST">
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
  
  <form action="/posts/{{ post.id }}/edit">
    <button type="submit" class="btn btn-primary">Edit</button>
  </form>

<p>
  <b>Tags:</b>
  {% for tag in post.tags %}
  <a href="/tags/{{ tag.id }}">{{ tag.name }}</a>
  {% endfor %}
</p>


{% endblock %}

{% block content %}
  
{% endblock %}
