{% extends 'base.html' %}

{% block title %}{{ user.first_name }} {{ user.last_name }}{% endblock %}

{% block content_title %}
  {{user.first_name}} {{user.last_name}}
  <img src="{{ user.image_url }}">
  <a href="/users/{{ user.id }}/edit" class="btn btn-primary">Edit</a>
  <a href="/users/{{ user.id }}/delete" class="btn btn-danger">Delete</a>
  <a href="/users/{{ user.id }}/posts/new" class="btn btn-secondary">Add Post</a><br><br>
  Posts
  <ul>
    {% for post in user.posts %}
      <li>
        <a href="/posts/{{ post.id }}">{{ post.title }}</a>
        
        <a href="/posts/{{ post.id }}/edit" class="btn btn-primary">Edit</a>

        <form action="/posts/{{ post.id }}/delete" method="POST">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>

      </li>
    {% endfor %}
{% endblock %}

{% block content %}
  
{% endblock %}
